<ion-header>
  <ion-toolbar>
    <ion-title>
      Nossa Frota
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p> <b>Ônibus Executivo</b>  -  Chassis Scania, modelo K-310, carroceria Marcopolo Paradiso G7 1050, suspensão à ar e ativa, ar condicionado, poltronas semi-leito reclináveis em tecido, CD Player, TV Digital, DVD, Internet Wireless, geladeira, toalete, capacitado para transportar 46 passageiros.</p>
    <hr>
    <p> <b>Ônibus Rodoviário</b>  -  Chassis Scania, modelo K-310, carroceria Marcopolo Paradiso 1200, suspensão à ar e ativa, ar condicionado, poltronas reclináveis em tecido, CD Player, DVD, geladeira, toalete, capacitado para transportar 46 passageiros.</p>
    <hr>
    <p> <b>Micro-Ônibus</b>  -  Chassis Mercedes Benz, modelo LO 916, carroceria Marcopolo Sênior, ar condicionado, poltronas reclináveis em tecido, CD Player, TV, DVD, geladeira, capacitado para transportar 26 passageiros.</p>
    <hr>
    <p> <b>Van</b>  -  Mercedes Benz, modelo Sprinter, ar condicionado, poltronas fixas em tecido, CD Player, capacitado para transportar 15 passageiros.</p>
</ion-content>
