<ion-header>
  <ion-toolbar>
    <ion-title>
      Rico Transportadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="card" style="width: 18rem;">
    <img src="http://www.transnova.com.br/distribuicao-de-alimentos/imagens/transportadora-de-produtos-secos-para-empresa-preco.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">A Transportadora Rico posiciona-se no segmento de logística com uma estratégia de negócios que visa a agregação de valor aos seus Clientes, gerenciando parte ou todas as atividades da cadeia de suprimentos relacionadas à gestão de materiais e/ou sua distribuição, oferecendo serviços qualificados em conformidade e adequação às exigências e necessidades do transporte, com preços competitivos e atendimento diferenciado.</p>
    </div>
  </div>
</ion-content>
